

    .background_image img{
        height: 80px;
        width: 100px;
    }
        
    .container{
        padding-left: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid grey;
        border-radius: 3px;
    }

    .fluid-container{
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid grey;
        border-radius: 3px;
    }
    .logo img{
        height: 100px;
        width: 100px;
        margin-top: -55px;
    }

    .icons img{
        height: 30px;
        width: 30px;
    }

    .post_header img{
        height: 100px;
        width: 100px;
        float: left;
    }

    h3{
        color: blue;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
    }

    .navigation-bar{
        overflow: hidden;
        float: right;
    }

    .dropdown{
        float: right;
        overflow: hidden;
    }

    .dropdown .dropbtn{
        border: 2px solid black 2px;
        padding: 10px 10px;
        font: 16px arial ;
        margin: 0px;
        color: black;
    }

    .dropdown :hover a{
        background-color:#f9f9f9;
    }

    .dropdown-content{
        display: none;
        margin-top: 40%;
        position: absolute;
        top: 70%;
        left: 10%;
        width: 100%;
        box-shadow: 0px 8px 16px 0px;
        max-width: 300px;
        background-color: whitesmoke;
        transition-duration: 4s;
    }

    .dropdown-content a{
        color:black;
        text-decoration: none;
        float: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover{
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content{
        display: block;
        animation-name: drop;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    @keyframes drop {
        0% {
          margin-top: 40%;
        }
        100% {
          margin-top: 0%;
        }
    }
    
    a{
        text-decoration: none;
        color: blue;
    }

    .cropped{
        height: 300px;
        width: 500px;
        overflow: hidden;
    }

    .cropped img{
        margin-top: -100px;
        margin-bottom: -200px;
        margin-right: -40px;
        margin-left: -25px;
    }
    
    .post_footer{
        background-color: grey;
        color: black;
    }

    .post_footer img{
        float: right;
        height: 50px;
        width: 50px;
        margin-inline-start: 300px;
        margin-block-end: -605px;
    }



@media screen and (min-width:601px){
    body{
        display: none;
    }
}
